pipeline/youtubeChannelDetails.json
{
	"name": "youtubeChannelDetails",
	"properties": {
		"activities": [
			{
				"name": "SearchRowDB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select top 1 subscriberCount,viewCount, videoCount from youtube.ChannelDetails\norder by upgrateDate desc",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "dummy"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If channelDetails not contain data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SearchRowDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(contains(activity('SearchRowDB').output,'firstrow'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GetChannelDetails",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "YoutubeDataset",
									"type": "DatasetReference",
									"parameters": {
										"RelativeURI": {
											"value": "@{variables('Resource')}@{variables('part')}&key=@{variables('Key')}&forUsername=@{variables('username')}&fields=@{variables('filtroStatistics')}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "ChannelDetails"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "GetChannelDetails",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SearchRowDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "YoutubeDataset",
						"type": "DatasetReference",
						"parameters": {
							"RelativeURI": {
								"value": "@{variables('Resource')}@{variables('part')}&key=@{variables('Key')}&forUsername=@{variables('username')}&fields=@{variables('filtroStatistics')}",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"Key": {
				"type": "String",
				"defaultValue": "AIzaSyDmDRnvO-sW4eRk8fmT05XBVksGwU_itm4"
			},
			"part": {
				"type": "String",
				"defaultValue": "?part=id, statistics"
			},
			"Resource": {
				"type": "String",
				"defaultValue": "channels"
			},
			"filtro": {
				"type": "String",
				"defaultValue": "items(id,snippet(title,description,publishedAt))"
			},
			"username": {
				"type": "String",
				"defaultValue": "ingelenalopez"
			},
			"filtroStatistics": {
				"type": "String",
				"defaultValue": "items(id,statistics(viewCount,subscriberCount,videoCount))"
			}
		},
		"annotations": []
	}
}